// Colors
$black:     #232323;
$white:     #fff;
$green:     #bdfc04;
$smoke:     #F8F8F8;

// Media Queries
$mobileSm:      400px;
$mobile:        767px;
$tablet:        992px;
$tabletLg:      1200px;
$desktop:       1400px;
$desktopLg:     1600px;
